{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/nfts/{{ nft.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit New NFT</legend>
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                placeholder="Enter NFT Name"
                class="form-control"
                value=" {{ nft.name }} "
            >
            <label class="form-label">Price:</label>
            <input 
                type="number"
                name="price" 
                placeholder="Enter Price in ETH" 
                class="form-control"
                value={{ nft.price }}
            >
            <label class="form-label">Img:</label>
            <input 
                type="text"
                name="image"
                placeholder="Enter Image URL" 
                class="form-control"
                value=" {{ nft.img }} "
            >
            <label class="form-label">Scarcity Score:</label>
            <input 
                type="number"
                name="scarcityScore" 
                placeholder="Enter Scarcity Score" 
                class="form-control"
                value={{ nft.scarcityScore }}
            >
        </fieldset>
        <input type="submit" class="btn btn-success" value="Edit {{ nft.name }}">
    </form>
</div>
{% endblock %}