<!-- we're serving block content in layout.liquid -->
<!-- so we need to inform all our blocks(files) -->
{% layout 'layout.liquid'%}
<!-- here we start our block content -->
{% block content %}
    <div >
        <br>
        <h2 class="display-6"><b>All NFTs</b></h2>
        <br>
        <div class="row">
            {% for nft in nfts %}
                <div class="card" style="width: 18rem;">
                    <!-- card header -> name of nft -->
                    <!-- card body -> ready to eat as title, color as text-->
                    <h5 class="card-header"><b>{{nft.name}}</b></h5>
                    <div class="card-body">
                        <h5 class="card-title">
                            
                        </h5>
                        <p class="card-text"> 
                            <img src="{{ nft.img }}" width="220" height="200">
                        </p>
                        <a href="/nfts/{{ nft.id }}" class="btn btn-info">
                            View {{ nft.name }}
                        </a>
                        <br>
                        <br>
                        <a href="{{nft.openSeaLink}}" class="btn btn-outline-dark">
                            Check out {{ nft.name }} on OpenSea!
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}